.navbar {
  display: flex;
 
}

.nav-card {

  box-shadow: 0 0 5px #e8e8e8;
  display: flex;
  justify-content: center;
}

.nav-content {
  display: flex;
 
  align-items: center;
}

.nav-content > h3 {
  color: #0290ff;
  font-size: 1.875rem;
  margin: 1.8rem 0;
}

.active-nav {
  color: #121212;
  text-decoration: none;
}

.non-active-nav {
  color: #e8e8e8;
  text-decoration: none;
}

@media only screen and (min-width: 1200px){
  .nav-content {
    width: 85vw;
  }
  
}